@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  color: $gray-900;
  background: $gray-50;
  line-height: 1.6;
}

a {
  color: $blue-600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
